{% extends 'base.html' %}

{% load static %}
{% block title %}添加课程丨课评评{% endblock %}
{% block content %}



{% if request.session.is_login %}
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <form class='form-register' action="{% url 'course:addcourse' %}" method="post">
      {% csrf_token %}
      <p style="height: 100px;"></p>
      {% if message %}
        <div class="alert alert-warning" style="height: 50px;">{{ message }}</div>
      {% endif %}
      
      <p style="height: 50px;"></p>

        <h1 class="text-center">添加课程</h1>
        <div class="form-group col-md-12 col-xs-12">
          <h5><strong><span style="color:#2b4f7c;">* </span>{{ course_form.course_name.label }}</strong></h5>
          {{ course_form.course_name }}
        </div>
        <div class="form-group col-md-12">
          <h5><strong><span style="color:#2b4f7c;">* </span>{{ course_form.school.label }}</strong></h5>
          {{ course_form.school }}
        </div>
        <div class="form-group col-md-12">
          <h5><strong><span style="color:#2b4f7c;">* </span>{{ course_form.department.label }}</strong></h5>
          {{ course_form.department }}
        </div>
        <div class="form-group col-md-12">
          <h5><strong><span style="color:#2b4f7c;">* </span>{{ course_form.teacher.label }}</strong></h5>
          {{ course_form.teacher }}
        </div>
        <div class="form-group col-md-12">
          <h5><strong>{{ course_form.course_id.label }}</strong></h5>
          <!-- 只能输入数字、小数点(.)和减号(-) -->
          {{ course_form.course_id }}
        </div>
        <div class="form-group col-md-6 col-xs-6">
          <h5><strong><span style="color:#2b4f7c;">* </span>{{ course_form.credit.label }}</strong></h5>
          <!-- 只能输入数字、小数点(.) -->
          {{ course_form.credit }}
        </div>
        <div class="form-group col-md-6 col-xs-6">
          <h5><strong><span style="color:#2b4f7c;">* </span>{{ course_form.hour.label }}</strong></h5>
          <!-- 只能输入数字、小数点(.) -->
          {{ course_form.hour }}
        </div>
        <div class="form-group col-md-12 col-xs-12">
          <h5><strong>{{ course_form.pre_course.label }}</strong></h5>
          {{ course_form.pre_course }}
        </div>

      <!-- buttons -->
        <div class="form-group col-md-12">
          <div style="clear: both; height: 15px;"></div>
            <button id="reset-btn" type="reset" class="btn btn-default pull-left col-md-4 col-xs-5 ">重置</button>
            <button id="submit-btn" type="submit" class="btn btn-primary pull-right col-md-7 col-md-offset-1 col-xs-6 col-xs-offset-1">发布</button>
        </div>
    </form>
  </div>
</div> <!-- /container -->
{% else %}
<div class="container">
    <p style="height: 120px;"></p>
    <h2 style="text-align: center;"><strong>未登录用户不可以添加课程哟！请先
        <a href="{% url 'login' %}">登录</a>
        或
        <a href="{% url 'register' %}">注册</a>
        。</strong>
    </h2>
</div>
{% endif %}

{% endblock %}