{% extends 'base.html' %}

{% load static %}
{% block title %}添加课程丨课评评{% endblock %}
{% block content %}



{% if request.session.is_login %}
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <form class='form-register' action="/register/" method="post">

      <p style="height: 100px;"></p>
      {% if message %}
        <div class="alert alert-warning" style="height: 50px;">{{ message }}</div>
      {% endif %}
      
      <p style="height: 50px;"></p>

        <h1 class="text-center">添加课程</h1>
        <div class="form-group col-md-12 col-xs-12">
          <h5><strong><span style="color:#2b4f7c;">* </span>课程名：</strong></h5>
          <input type="text" class="form-control" id="courname" >
        </div>
        <div class="form-group col-md-12">
          <h5><strong><span style="color:#2b4f7c;">* </span>学校：</strong></h5>
          <input type="text" class="form-control col-md-11" id="sch">
        </div>
        <div class="form-group col-md-12">
          <h5><strong><span style="color:#2b4f7c;">* </span>开课院系：</strong></h5>
          <input type="text" class="form-control" id="col" >
        </div>
        <div class="form-group col-md-12">
          <h5><strong><span style="color:#2b4f7c;">* </span>任课教师：</strong></h5>
          <input type="text" class="form-control" id="te" >
        </div>
        <div class="form-group col-md-12">
          <h5><strong>&nbsp课程号：</strong></h5>
          <!-- 只能输入数字、小数点(.)和减号(-) -->
          <input type="char" class="form-control" id="courid" onKeyPress="if (event.keyCode!=45 && (event.keyCode<48 || event.keyCode>57)) event.returnValue=false" placeholder="只能输入数字和 ‘-’">
        </div>
        <div class="form-group col-md-6 col-xs-6">
          <h5><strong><span style="color:#2b4f7c;">* </span>学分：</strong></h5>
          <!-- 只能输入数字、小数点(.) -->
          <input type="text" class="form-control" id="cred" onKeyPress="if (event.keyCode!=46 && (event.keyCode<48 || event.keyCode>57)) event.returnValue=false" placeholder="只能输入整数或小数">
        </div>
        <div class="form-group col-md-6 col-xs-6">
          <h5><strong><span style="color:#2b4f7c;">* </span>学时：</strong></h5>
          <!-- 只能输入数字、小数点(.) -->
          <input type="text" class="form-control" id="hour" onKeyPress="if (event.keyCode!=46 && (event.keyCode<48 || event.keyCode>57)) event.returnValue=false" placeholder="只能输入整数或小数">
        </div>
        <div class="form-group col-md-12 col-xs-12">
          <h5><strong>&nbsp先修要求</strong></h5>
          <textarea class="form-control" id="pre" rows="3"></textarea>
        </div>

      <!-- buttons -->
        <div class="form-group col-md-12">
          <div style="clear: both; height: 15px;"></div>
            <button id="reset-btn" type="reset" class="btn btn-default pull-left col-md-4 col-xs-5 ">重置</button>
            <button id="submit-btn" type="submit" class="btn btn-primary pull-right col-md-7 col-md-offset-1 col-xs-6 col-xs-offset-1">发布</button>
        </div>
    </form>
  </div>
</div> <!-- /container -->
{% else %}
<div class="container">
    <p style="height: 120px;"></p>
    <h2 style="text-align: center;"><strong>未登录用户不可以添加课程哟！请先
        <a href="{% url 'login' %}">登录</a>
        或
        <a href="{% url 'register' %}">注册</a>
        。</strong>
    </h2>
</div>
{% endif %}

{% endblock %}