 {% extends 'base.html' %}
 {% load static %}
 {% block title %}{{ course.course_name }}丨课评评{% endblock %}
 
 {% block css %}
 <link rel="stylesheet" href="{% static 'css/course.css' %}">
 {% endblock %}
 {% block javascript %}
  <script>
  function sendData(data) {
    var XHR = new XMLHttpRequest();
    var FD  = new FormData();

    // 把我们的数据添加到这个FormData对象中
    for(name in data) {
      FD.append(name, data[name]);
    }

    // 定义数据成功发送并返回后执行的操作
    XHR.addEventListener('load', function(event) {
      location.reload();
    });

    // 定义发生错误时执行的操作
    XHR.addEventListener('error', function(event) {
      location.reload();
    });

    // 设置请求地址和方法
    if(data['attr'] === 'A')
      XHR.open("GET", "/vote/like/" + data['comment_id']);
    else if(data['attr'] === 'D')
      XHR.open("GET", "/vote/dislike/" + data['comment_id']);
    else 
      XHR.open("GET", "/vote/clear/" + data['comment_id']);
    // 发送这个formData对象,HTTP请求头会自动设置
    XHR.send(FD);
  }
  </script>
 {% endblock %}
 {% block content %}
 <p style="height: 50px;"></p>
 <div class="container">
   <!-- course info area start-->
   <div class="banner">
     <div class="row clearfix">
       <div class="col-md-5 column">
         <!-- <span class="banner-thumbnail"> -->
         <img src="/static/img/wordcloud/{{ course.id }}.png" alt="wordcloud" class="banner-thumbnail" style="width: 100%;">
         <!-- </span> -->
       </div>
       <div class="col-md-4 column">
         <span class="banner-name"><strong>{{ course.course_name }}</strong></span>
         <h4 style="color: #2a69ba;">{{ course.department.department_name }}</h4>
         <h4>{{ teacher_name }}</h4>
         <span class="banner-details">
           <ul class="list-unstyled">
             <li>
               学分：{{ course.credit }}
             </li>
             <li>
               学时：{{ course.hour }}
             </li>
             {% if course.pre_course %}
             <li>
               先修课程：{{ course.pre_course }}
             </li>
             {% endif %}
           </ul>
         </span>
       </div>
       <div class="col-md-3 column">
         <span class="banner-btn">
           {% if request.session.is_login %}
           <a href="#add-comment" class="btn btn-primary col-md-8"
             role="button">发&nbsp;&nbsp;表&nbsp;&nbsp;评&nbsp;&nbsp;论</a>
           <p style="clear:both; height: 10px;"></p>
           <a href="{% url 'course:changecourseinfo' course.id %}" class="btn btn-default col-md-8" role="button">修改课程信息</a>
           {% else %}
           <span class="btn btn-primary col-md-8" role="button"
             disabled="disabled">发&nbsp;&nbsp;表&nbsp;&nbsp;评&nbsp;&nbsp;论</span>
           <p style="clear:both; height: 10px;"></p>
           <a class="btn btn-default col-md-8" role="button" disabled="disabled">修改课程信息</a>
           {% endif %}
         </span>
       </div>
     </div>
   </div>
   <!-- course info area end-->
 
   <!-- comments area start-->
   <!-- latest comments begin-->
   <div class="comments-area">
     <h4 class="bg-white">最新评论({{new_number}})</h4>
     <hr/>

     {% for comment in new_comments %}
     <!-- a comment begin -->
     <div class="panel panel-default">
      <div class="panel-heading">
            <span style="color: rgb(30, 118, 189);">{{ comment.user.username }}</span>
            <span>发布于</span>
            <span style="color:#777;">{{comment.c_time}}</span>
      </div>
      <div class="panel-body" id="{{forloop.counter}}content_new">
        <p>{{comment.content}}</p>
        <div class="form pull-right">
          <div class="btn-group" role="group" aria-label="...">
            {% if comment.islike %}
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'C'})">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: blue;"></span> 已点赞({{comment.like}})
              </button>
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'D'})" disabled="disabled">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩({{comment.dislike}})
              </button>
            {% elif comment.isunlike %}
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'A'})" disabled="disabled">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 点赞({{comment.like}})
              </button>
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'C'})">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color: red;"></span> 已踩({{comment.dislike}})
              </button>
            {% else %}
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'A'})">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 点赞({{comment.like}})
              </button>
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'D'})">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩({{comment.dislike}})
              </button>
            {% endif %} 
          </div>
        </div>
      </div>
      {% if comment.is_folded %}
        <a href="javascript:;" id="{{forloop.counter}}btn_new">
          &lt&lt&lt折叠评论</a>
          <script type="text/javascript">
          //获取button
          var new_btn = document.getElementById('{{forloop.counter}}btn_new');
          //获取p
          var new_content = document.getElementById('{{forloop.counter}}content_new');
          //获取p的内容
          var new_str = new_content.innerHTML;
          //定义一个变量，表示当前状态
          var new_onOff = true; //true表示展示
          new_content.innerHTML = ""
          new_btn.innerHTML = "评论被折叠，点击显示";
          new_btn.onclick = function() {
            if(!new_onOff) {
              new_content.innerHTML = ""
              new_btn.innerHTML = "评论被折叠，点击显示";
            }
            else{
              new_content.innerHTML = new_str;
              new_btn.innerHTML = "<<<收缩"
            }
            new_onOff = !new_onOff;
            return false;
          }
          </script>
        </a>
      {% endif %}
    </div>
     <!-- a comment end -->
     {% endfor %}
     <!-- a fold comment end -->
   </div>
   <!-- latest comments end-->
 
   <!-- all comments start-->
  {% if request.session.is_login %}
  <div class="comments-area">
     <h4 class="bg-white">全部评论({{all_number}})</h4>
     <hr/>
     {% for comment in all_comments %}
     <!-- a comment begin -->
     <div class="panel panel-default">
      <div class="panel-heading">
            <span style="color: rgb(30, 118, 189);">{{ comment.user.username }}</span>
            <span>发布于</span>
            <span style="color:#777;">{{comment.c_time}}</span>
      </div>
      <div class="panel-body" id="{{forloop.counter}}content">
        <p>{{comment.content}}</p>
        <div class="form pull-right">
          <div class="btn-group" role="group" aria-label="...">
            {% if comment.islike %}
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'C'})">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: blue;"></span> 已点赞({{comment.like}})
              </button>
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'D'})" disabled="disabled">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩({{comment.dislike}})
              </button>
            {% elif comment.isunlike %}
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'A'})" disabled="disabled">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 点赞({{comment.like}})
              </button>
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'C'})">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color: red;"></span> 已踩({{comment.dislike}})
              </button>
            {% else %}
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'A'})">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 点赞({{comment.like}})
              </button>
              <button type="button" class="btn btn-default btn-sm" onclick="sendData({'comment_id': {{comment.id}}, 'attr': 'D'})">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩({{comment.dislike}})
              </button>
            {% endif %}
          </div>
        </div>
      </div>
      {% if comment.is_folded %}
        <a href="javascript:;" id="{{forloop.counter}}btn">
          &lt&lt&lt折叠评论</a>
          <script type="text/javascript">
          //获取button
          var btn = document.getElementById('{{forloop.counter}}btn');
          //获取p
          var content = document.getElementById('{{forloop.counter}}content');
          //获取p的内容
          var str = content.innerHTML;
          //定义一个变量，表示当前状态
          var onOff = true; //true表示展示
          content.innerHTML = ""
          btn.innerHTML = "评论被折叠，点击显示";
          btn.onclick = function() {
            if(!onOff) {
              content.innerHTML = ""
              btn.innerHTML = "评论被折叠，点击显示";
            }
            else{
              content.innerHTML = str;
              btn.innerHTML = "<<<收缩"
            }
            onOff = !onOff;
            return false;
          }
          </script>
        </a>
        {% endif %}
    </div>
     <!-- a comment end -->
     {% endfor %}
  </div>
  {% else %}
  <div class="comments-area">
    <h4 class="bg-white">全部评论({{all_number}})</h4>
    <hr />

    <p>请在登录后查看
      <a href="{% url 'login' %}">登录</a>
      <a href="{% url 'register' %}">注册</a>
    </p>
  </div>
  {% endif %}
  <!-- all comments end-->
  <!-- comments area end-->

  <!-- fail comment alert -->
  {% if messages %}
    <p style="height: 20px;"></p>
    {% for message in messages %}
    <div class="alert alert-warning" style="text-align: left;">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- fail comment alert end -->

  <!-- add comment start-->
  <div id="add-comment" class="comments-area">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <h4>发表评论</h4>
        {% if request.session.is_login %}
        <form role="form" action="{% url 'comment:addcomment' course.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" rows="4" name="content" placeholder="请输入至少10个字符！"></textarea>
          </div>
          <button type="submit" class="btn btn-default">提交</button>
        </form>
        {% else %}
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="4" placeholder="请在登录后评论" disabled="disabled"></textarea>
          </div>
          <button type="submit" class="btn btn-default" disabled="disabled">提交</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- add comment end-->
</div>
{% endblock %}
