<!-- 
  课程信息界面，用户已登陆
 -->

 {% extends 'base.html' %}
 {% load static %}
 {% block title %}软件工程丨课评评{% endblock %}
 
 {% block css %}
 <link rel="stylesheet" href="{% static 'css/course.css' %}">
 {% endblock %}

 {% block content %}
 <p style="height: 50px;"></p>
 <div class="container">
   <!-- course info area start-->
   <div class="banner">
     <div class="row clearfix">
       <div class="col-md-5 column">
         <!-- <span class="banner-thumbnail"> -->
         <img src="../static/img/{{course_name}}.png" alt="wordcloud" class="banner-thumbnail">
         <!-- </span> -->
       </div>
       <div class="col-md-4 column">
         <span class="banner-name"><strong>{{course_name}}</strong></span>
         <h4>{{couse_teacher_info}}</h4>
         <span class="banner-details">
           <ul class="list-unstyled">
             <li>
               学分：{{course_credit}}
             </li>
             <li>
               学时: {{course_hours}}
             </li>
             <li>
               先修课程：{{precourse}}
             </li>
           </ul>
         </span>
       </div>
       <div class="col-md-3 column">
         <span class="banner-btn">
           {% if request.session.is_login %}
           <a href="#add-comment" class="btn btn-primary col-md-8"
             role="button">发&nbsp;&nbsp;表&nbsp;&nbsp;评&nbsp;&nbsp;论</a>
           <p style="clear:both; height: 10px;"></p>
           <!-- TODO:添加修改课程页面链接 -->
           <!-- TODO:链接到课程信息界面 -->
           <a href="{% url 'course:changecourseinfo' %}" class="btn btn-default col-md-8" role="button">修改课程信息</a>
           {% else %}
           <span class="btn btn-primary col-md-8" role="button"
             disabled="disabled">发&nbsp;&nbsp;表&nbsp;&nbsp;评&nbsp;&nbsp;论</span>
           <p style="clear:both; height: 10px;"></p>
           <!-- TODO:添加修改课程页面链接 -->
           <a class="btn btn-default col-md-8" role="button" disabled="disabled">修改课程信息</a>
           {% endif %}
         </span>
       </div>
     </div>
   </div>
   <!-- course info area end-->
 
   <!-- comments area start-->
   <!-- latest comments begin-->
   <div class="comments-area">
     <h4 class="bg-white">最新评论({{new_number}})</h4>
     <hr/>

     {% for comment in new_comments %}
     <!-- a comment begin -->
     <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row clearfix">
          <div class="col-md-9 col-xs-6 column">
            <span><a href="#">{{comment.user}}</a></span>
            <span>发布于</span>
            <span style="color:#777;">{{comment.time}}</span>
            <span>获赞：</span>
            <span style="color:#777;">{{comment.like}}</span>
            <span>被踩：</span>
            <span style="color:#777;">{{comment.dislike}}</span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>{{comment.content}}</p>
        <div class="form pull-right">
          <div class="btn-group" role="group" aria-label="...">
            {% if comment.islike %}
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: blue;"></span> 已点赞
              </button>
            {% else %}
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 点赞
              </button>
            {% endif %}
            {% if comment.isunlike %}
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color: red;"></span> 已踩
              </button>
            {% else %}
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩
              </button>
            {% endif %}
          </div>
        </div>
      </div>
      <a href="javascript:;" id="btn">
        &lt&lt&lt折叠评论</a>
        <script type="text/javascript">
         //获取button
         var btn = document.getElementById('btn');
         //获取p
         var content = document.getElementById('content');
         //获取p的内容
         var str = content.innerHTML;
         //定义一个变量，表示当前状态
         var onOff = true; //true表示展示
         content.innerHTML = ""
         btn.innerHTML = "评论被折叠，点击显示";
         btn.onclick = function() {
           if(!onOff) {
             content.innerHTML = ""
             btn.innerHTML = "评论被折叠，点击显示";
           }
           else{
             content.innerHTML = str;
             btn.innerHTML = "<<<收缩"
           }
           onOff = !onOff;
           return false;
         }
        </script>
      </a>
    </div>
     <!-- a comment end -->
     {% endfor %}
     <!-- a fold comment end -->
   </div>
   <!-- latest comments end-->
 
   <!-- all comments start-->
  {% if request.session.is_login %}
  <div class="comments-area">
     <h4 class="bg-white">全部评论({{all_number}})</h4>
     <hr/>
     {% for comment in all_comments %}
     <!-- a comment begin -->
     <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row clearfix">
          <div class="col-md-9 col-xs-6 column">
            <span><a href="#">comment.user</a></span>
            <span>发布于</span>
            <span style="color:#777;">comment.time</span>
            <span>获赞：</span>
            <span style="color:#777;">comment.like</span>
            <span>被踩：</span>
            <span style="color:#777;">comment.dislike</span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>comment.content</p>
        <div class="form pull-right">
          <div class="btn-group" role="group" aria-label="...">
            {% if comment.islike %}
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: blue;"></span> 已点赞
              </button>
            {% else %}
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 点赞
              </button>
            {% endif %}
            {% if comment.isunlike %}
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color: red;"></span> 已踩
              </button>
            {% else %}
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
     <!-- a comment end -->
     {% endfor %}
  </div>
  {% else %}
  <div class="comments-area">
    <h4 class="bg-white">全部评论(all_number)</h4>
    <hr />

    <p>请在登录后查看
      <a href="{% url 'login' %}">登录</a>
      <a href="{% url 'register' %}">注册</a>
    </p>
  </div>
  {% endif %}
  <!-- all comments end-->
  <!-- comments area end-->

  <!-- add comment start-->
  <div class="comments-area">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <h4>发表评论</h4>
        {% if request.session.is_login %}
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-default">提交</button>
        </form>
        {% else %}
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="4" placeholder="请在登录后评论" disabled="disabled"></textarea>
          </div>
          <button type="submit" class="btn btn-default" disabled="disabled">提交</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- add comment end-->
</div>


<script src="{% static 'js/course.js' %}"></script>

{% endblock %}