<!-- 
  课程信息界面，用户已登陆
 -->

 {% extends 'base.html' %}
 {% load static %}
 {% block title %}软件工程丨课评评{% endblock %}
 
 {% block css %}
 <link rel="stylesheet" href="{% static 'css/course.css' %}">
 {% endblock %}
 
 {% block javascript %} 
 <script>
   function showSection(id){
    //获取元素
    var divs = document.getElementsByTagName("div");
    
    //判断   如果div的className不为section，则跳出循环，否则再次判断当前的id是否等于参数id，不是的话则隐藏
      for(var i= 0; i<divs.length; i++){
          if(divs[i].className.indexOf("panel-body") == -1) continue;
          if(divs[i].getAttribute("id") != id){
              divs[i].style.display = "none";
          }
          else{
              divs[i].style.display = "block";
          }
      }
    }
   function prepareComment(){
     //浏览器对象检测
     if(!document.getElementById) return false;
     if(!document.getElementsByTagName) return false;
     //获取元素
     var links = document.getElementsByTagName("div");
     //遍历连接，分割出href属性的值，调用显示section块的函数
     for(var i=0; i<links.length; i++){
        var sectionId = links[i].getAttribute("id");   
        if(sectionId=="fold-content"){
          document.getElementById()
        }
        if(!document.getElementById(sectionId)) continue;                 //如果找不到这个id，则退出循环
        document.getElementById(sectionId).style.display = "none";        //把class属性值为sectionId的都设置为display：none，然后再显示出来
        links[i].destination = sectionId;
        links[i].onclick = function(){
            showSection(this.destination);
            return false;
        }
     }
     
   }
 </script>
 {% endblock %}

 {% block content %}
 <p style="height: 50px;"></p>
 <div class="container">
   <!-- course info area start-->
   <div class="banner">
     <div class="row clearfix">
       <div class="col-md-5 column">
         <!-- <span class="banner-thumbnail"> -->
         <img src="../static/img/wordcloud.png" alt="wordcloud" class="banner-thumbnail">
         <!-- </span> -->
       </div>
       <div class="col-md-4 column">
         <span class="banner-name"><strong>一二三四五六七八</strong></span>
         <h4>清华大学 董渊</h4>
         <span class="banner-details">
           <ul class="list-unstyled">
             <li>
               学分：3
             </li>
             <li>
               学时: 48
             </li>
             <li>
               先修课程：程序设计基础
             </li>
           </ul>
         </span>
       </div>
       <div class="col-md-3 column">
         <span class="banner-btn">
           {% if request.session.is_login %}
           <a href="#add-comment" class="btn btn-primary col-md-8"
             role="button">发&nbsp;&nbsp;表&nbsp;&nbsp;评&nbsp;&nbsp;论</a>
           <p style="clear:both; height: 10px;"></p>
           <!-- TODO:添加修改课程页面链接 -->
           <!-- TODO:链接到课程信息界面 -->
           <a href="{% url 'course:changecourseinfo' %}" class="btn btn-default col-md-8" role="button">修改课程信息</a>
           {% else %}
           <span class="btn btn-primary col-md-8" role="button"
             disabled="disabled">发&nbsp;&nbsp;表&nbsp;&nbsp;评&nbsp;&nbsp;论</span>
           <p style="clear:both; height: 10px;"></p>
           <!-- TODO:添加修改课程页面链接 -->
           <a class="btn btn-default col-md-8" role="button" disabled="disabled">修改课程信息</a>
           {% endif %}
         </span>
       </div>
     </div>
   </div>
   <!-- course info area end-->
 
   <!-- comments area start-->
   <!-- latest comments begin-->
   <div class="comments-area">
     <h4 class="bg-white">最新评论</h4>
     <hr/>
 
     <!-- a comment begin -->
     <div class="panel panel-default">
       <div class="panel-heading">
         <div class="row clearfix">
           <div class="col-md-9 col-xs-6 column">
             <scan>@username</scan>
             <scan>发布于@time</scan>
           </div>
           <div class="col-md-3 col-xs-6 column">
             <div class="form pull-right">
               <div class="btn-group" role="group" aria-label="...">
                 <button type="submit" class="btn btn-default btn-sm">
                   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 赞同(10)
                 </button>
                 <!-- 已点赞图标 -->
                 <!-- <button type="button" class="btn btn-default btn-sm">
                     <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: blue;"></span> 赞同(10)
                   </button> -->
                 <button type="submit" class="btn btn-default btn-sm">
                   <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 不赞同(5)
                 </button>
                 <!-- 已踩图标 -->
                 <!-- <button type="button" class="btn btn-default btn-sm">
                     <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color: red;"></span> 不赞同(5)
                   </button> -->
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="panel-body">
         工作量大
       </div>
     </div>
     <!-- a comment end -->
 
     <!-- a fold comment begin -->
     <div class="panel panel-warning">
       <div class="panel-heading">
         <div class="row clearfix">
           <div class="col-md-9 col-xs-6 column">
             <scan>@username</scan>
             <scan>发布于@time</scan>
           </div>
           <div class="col-md-3 col-xs-6 column">
             <div class="form pull-right">
               <div class="btn-group" role="group" aria-label="...">
                 <button type="submit" class="btn btn-default btn-sm" disabled="disabled">
                   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 赞同(10)
                 </button>
                 <button type="submit" class="btn btn-default btn-sm" disabled="disabled">
                   <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 不赞同(5)
                 </button>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="panel-body" id="content">
         工作量大
       </div>
       <a href="javascript:;" id="btn">
         &lt&lt&lt折叠评论</a>
         <script type="text/javascript">
          //获取button
          var btn = document.getElementById('btn');
          //获取p
          var content = document.getElementById('content');
          //获取p的内容
          var str = content.innerHTML;
          //定义一个变量，表示当前状态
          var onOff = true; //true表示展示
          content.innerHTML = "评论被折叠，点击显示";
          btn.innerHTML = '>>>展开评论'
          btn.onclick = function() {
            if(!onOff) {
              content.innerHTML = "评论被折叠，点击显示";
              btn.innerHTML = '>>>展开'
            }
            else{
              content.innerHTML = str;
              btn.innerHTML = "<<<收缩"
            }
            onOff = !onOff;
            return false;
          }

         </script>
       </a>
     <!-- a fold comment end -->
   </div>
   <!-- latest comments end-->
 
   <!-- all comments start-->
   {% if request.session.is_login %}
   <div class="comments-area">
     <h4 class="bg-white">全部评论(20)</h4>
     <hr/>
 
     <!-- a comment begin -->
     <div class="panel panel-default">
       <div class="panel-heading">
         <div class="row clearfix">
           <div class="col-md-9 col-xs-6 column">
             <scan>@username</scan>
             <scan>发布于@time</scan>
           </div>
           <div class="col-md-3 col-xs-6 column">
             <div class="form pull-right">
               <div class="btn-group" role="group" aria-label="...">
                 <button type="submit" class="btn btn-default btn-sm">
                   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 赞同(10)
                 </button>
                 <!-- 已点赞图标 -->
                 <!-- <button type="button" class="btn btn-default btn-sm">
                     <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: blue;"></span> 赞同(10)
                   </button> -->
                 <button type="submit" class="btn btn-default btn-sm">
                   <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 不赞同(5)
                 </button>
                 <!-- 已踩图标 -->
                 <!-- <button type="button" class="btn btn-default btn-sm">
                     <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color: red;"></span> 不赞同(5)
                   </button> -->
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="panel-body">
         工作量大
       </div>
     </div>
     <!-- a comment end -->
   </div>
   {% else %}
   <div class="comments-area">
     <h4 class="bg-white">全部评论(20)</h4>
     <hr/>
 
     <p>请在登录后查看
       <a href="{% url 'login' %}">登录</a>
       <a href="{% url 'register' %}">注册</a>
     </p>
   </div>
   {% endif %}
   <!-- all comments end-->
   <!-- comments area end-->
 
   <!-- add comment start-->
   <div class="comments-area">
     <div class="row clearfix">
       <div class="col-md-12 column">
         <h4>发表评论</h4>
         {% if request.session.is_login %}
         <form role="form">
           <div class="form-group">
             <textarea class="form-control" rows="4"></textarea>
           </div>
           <button type="submit" class="btn btn-default">提交</button>
         </form>
         {% else %}
         <form role="form">
           <div class="form-group">
             <textarea class="form-control" rows="4" placeholder="请在登录后评论" disabled="disabled"></textarea>
           </div>
           <button type="submit" class="btn btn-default" disabled="disabled">提交</button>
         </form>
         {% endif %}
       </div>
     </div>
   </div>
   <!-- add comment end-->
 </div>
 {% endblock %}