{% extends 'base.html' %}
{% load static %}
{% block title %}最后一步，激活账户丨课评评{% endblock %}
{% block content %}
<div class="container">
  <p style="height: 50px;"></p>
    <div class="col-md-10 col-md-offset-1">
      <p style="clear: both; height: 50px;"> </p>
      <div class="col-md-12" style="background-color: #549ce054; border-radius: 10px;">
        <div class="col-md-8 col-md-offset-2" style="text-align: center;">
          <p style="height: 40px;"></p>
          <p style="font-size: 20px;">您的电子邮箱：<strong>xxx@xxx.xxx</strong></p>
          <p>我们已经给您的邮箱发送了一封激活信。请登录您的注册邮箱，按照提示<strong>激活账户。</strong></p>
          <p style="height: 20px;"></p>
        </div>
      </div>
      <p style="clear: both; height: 40px;"> </p>
      <!-- TODO:@gy要加个链接！ -->
      <button class="btn btn-danger pull-left col-md-2 col-md-offset-5">没收到？再次发送</button>
    </div>
</div>
{% endblock %}