<!-- 
  个人中心界面
 -->

 {% extends 'base.html' %}
 {% load static %}
 {% block title %}个人空间丨课评评{% endblock%}
 {% block css %}
 <link rel="stylesheet" href="{% static 'css/base.css' %}">
 {% endblock %}

 {% block javascript %}
 <script>
   function sendData(data) {
    var XHR = new XMLHttpRequest();
    var FD  = new FormData();
    for(name in data) {
      FD.append(name, data[name]);
    }
    XHR.addEventListener('load', function(event) {
      location.reload();
    });
    XHR.addEventListener('error', function(event) {
      location.reload();
    });
    XHR.open("GET", "/comment/rmcomment/" + data['comment_id']);
    XHR.send(FD);
  }
  function deleteConfirm(data){
    var r=confirm("你确定要删除这条评论吗？");
    if (r==true){
      sendData(data)
    }
  }
 </script>
 {% endblock %}

 {% block content %}
 <div class="container">
   <div class="row clearfix">
     <!-- nav list start -->
     <div class="col-md-3 col-sm-3 column hidden-xs ">
       <div class="list-group" style="position: fixed; top: 100px;">
         <a href="#" class="list-group-item active">{{user.username}}的个人空间</a>
         <div class="list-group-item">
           <a href="#profile">基本信息</a>
         </div>
         <div class="list-group-item">
           <a href="#security">账户安全</a>
         </div>
         <div class="list-group-item">
           <a href="#my-comments">我的评论</a>
         </div>
       </div>
     </div>
     <!-- nav list end -->
 
     <div class="col-md-9 col-sm-9 column">
       <!-- private info start -->
       <div class="page-header">
        
         <h1 id="profile">
           <p style="clear: both; height: 50px;"></p>
           基本信息
         </h1>
       </div>
       <div class="row clearfix">
         <div class="col-md-5 col-sm-7 col-xs-7 column">
           <form role="form">
             <div class="form-group">
               <label for="user_profile_name">学校</label>
               <input class="form-control" id="disabledInput" type="text" placeholder="{{user.school}}" disabled>
             </div>
             <div class="form-group">
               <label for="user_profile_name">邮箱</label>
               <input class="form-control" id="disabledInput" type="text" placeholder="{{user.email}}" disabled>
             </div>
           </form>
         </div>
       </div>
      <!-- 未来可以做的 -->
      <!-- <a href="#" class="btn btn-default">修改个人信息</a> -->
      <!-- private info end -->  
 
       <!-- security part start -->
       <div class="page-header">
         <h1 id="security">
          <p style="clear: both; height: 50px;"></p>
           账户安全
         </h1>
       </div>
       <a href="/account/changepw/" class="btn btn-default">修改密码</a>
       <!-- security part end -->  
 
       <!-- my comments start -->
       <div class="page-header">
         <h1 id="my-comments">
          <p style="clear: both; height: 50px;"></p>
           我的评论
         </h1>
       </div>
       <!-- overall comments info start -->
       <div class="input-group col-md-5 col-sm-5 col-xs-12" >
          <span class="glyphicon glyphicon-pencil input-group-addon" style="font-size:large;background-color: white;width: 33%;" aria-hidden="true">：{{user.comment_count}}&nbsp; </span>
          <span class="glyphicon glyphicon-thumbs-up input-group-addon" style="font-size:large;background-color: white;width: 33%;" aria-hidden="true">：{{user.total_approve}}&nbsp; </span>
          <span class="glyphicon glyphicon-thumbs-down input-group-addon" style="font-size:large;background-color: white;width: 33%;" aria-hidden="true">：{{user.total_disapprove}}</span>
        </div>
        <p style="clear: both; height: 24px;"></p>
       <!-- overall comments info end -->
       
       {% for comment in comment_list %}
        <!-- one of my comments start -->
        <div class="panel panel-default">
          <div class="panel-heading">
            发布于<span style="color:#777;">{{comment.c_time}}</span>&nbsp;
            评论课程<span style="color:#777;"><a href="{% url 'course:courseinfo' comment.course.id %}">{{comment.course.course_name}}</a></span>
            <span class="glyphicon glyphicon-thumbs-down pull-right" aria-hidden="true">({{comment.disapprove_count}})</span>
            <span class="glyphicon glyphicon-thumbs-up pull-right" aria-hidden="true">({{comment.approve_count}})&nbsp;</span>
          </div>
          <div class="panel-body">
            {{comment.content}}</br></br>
            <span><a type="submit" class="btn btn-default pull-right" onclick="deleteConfirm({'comment_id': {{comment.id}}})">删除该评论</a></span>
          </div>
        </div>
       {% endfor %}

       <!-- my comments end -->
     </div>
   </div>
 </div>
 {% endblock %}