body {
  background-color: rgb(248, 249, 250);
}
.comments-area {
  padding: 20px;
  margin: 20px 0px 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
}
.banner {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
  transition: 0.4s;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}
.banner-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 400px;
}
.banner-name {
  display: inline-block;
  font-size: 32px;
  color: #2a69ba;
}
.banner-details {
  display: inline-block;
}
.banner-btn {
  display: inline-block;
  width: 240px;
}
/*--------------------------------------------------
    ## responsive
---------------------------------------------------*/
@media all and (min-width: 1200px) {
  .banner-name {
    font-size: 32px;
    margin-top: 100px;
  }
  .banner-details {
    margin-top: 10px;
  }
  .banner-btn {
    margin-top: 220px;
  }
}
@media all and (max-width: 1199px) {
  .banner-name {
    font-size: 32px;
    margin-top: 80px;
  }
  .banner-details {
    margin-top: 10px;
  }
  .banner-btn {
    margin-top: 220px;
  }
}
@media all and (max-width: 991px) {
  .banner {
    text-align: center;
  }
  .banner-name {
    font-size: 32px;
    margin-top: 40px;
  }
  .banner-details {
    margin-top: 10px;
  }
  .banner-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 767px) {
  .banner {
    text-align: center;
  }
  .banner-name {
    font-size: 32px;
    margin-top: 40px;
  }
  .banner-details {
    margin-top: 10px;
  }
  .banner-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 480px) {
  .banner {
    text-align: center;
  }
  .banner-name {
    font-size: 32px;
    margin-top: 40px;
  }
  .banner-details {
    margin-top: 10px;
  }
  .banner-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .banner-thumbnail {
    max-width: 100%;
  }
}
