{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}base{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    {% block css %} {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #2a69ba; border-radius: 0px;" >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header"  style="border:none">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}" >
              <img alt="Brand" src="{% static 'img/logo-white.png' %}" height="22px">
            </a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="border:none" >

            <form class="navbar-form navbar-left" action="{% url 'search:index' %}" method="get" style="border:none">
              <div class="form-group">
                 {{ small_search_form.school }}
              </div>
              <div class="form-group">
                 {{ small_search_form.course }}
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default" style="color: #909090; font-size: x-small; height: 34px;">搜一搜</button>
              </div>
            </form>

            

            <ul class="nav navbar-nav navbar-right" style="border:none">
              <li class="active"><a href="{% url 'index' %}"style="background-color: #fff; color: #2a68ba;">主页<span class="sr-only">(current)</span></a></li>
              {% if request.session.is_login %}
              <li><a href="{% url 'account:index' %}" style="color: #fff;">{{ request.session.user_name }}</a></li>
              <li><a href="{% url 'logout' %}" style="color: #fff;">登出</a></li>
              {% else %}
              <li><a href="{% url 'login' %}" style="color: #fff;">登录</a></li>
              <li><a href="{% url 'register' %}" style="color: #fff;">注册</a></li>
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    {% block content %}{% endblock %}

    <!-- copyright -->
    <div>
      <div style="clear: both; height: 200px;"></div>
        <p style="text-align: center; color: #999999;">
          Copyright © 2020 by 無名可取
      </p>
    </div>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>