{% extends 'base.html' %}
{% load static %}
{% block title %}评评课~丨课评评{% endblock %}
{% block content %}
<div class="row">
  <div class="container" >
    <!-- great logo -->
    <div class="col-md-12 col-xs-12" style="height: 270px;"></div>
    <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
      <div style="text-align: center;">
          <img src="{% static 'img/logo-new.png' %}" width="100%" >
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
      <div style="clear: both; height: 30px;"></div>
      <form class="col-md-8 col-md-offset-2">
        <div class="input-group" action="{% url 'search:index' %}" method="post" >
          <input type="text" class="form-control" id="sch" placeholder="学校" style="height: 50px; width: 30%;">
          {{ search_form.school.label_tag }}
          {{ search_form.school }}
          <input type="text" class="form-control" id="cour" placeholder="课程名" style="height: 50px; width: 70%;">
          {{ search_form.course.label_tag }}
          {{ search_form.course }}
          <span class="input-group-btn" >
            <button class="btn btn-default" type="submit" style="height: 50px; background-color:#2a68ba;">
              <span class="glyphicon glyphicon-search" aria-hidden="true" style="color: rgba(255, 255, 255, 0.705); font-size: 20px;"></span>
            </button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div> 
    <!-- /container -->
</div>
{% endblock %}